<?xml version="1.0" encoding="UTF-8"?>
<included>

    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <appender name="fileRolling" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/navigation-api.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>logs/navigation-api.%d{yyyy-MM-dd}.log</fileNamePattern>

            <!-- keep 30 days' worth of history capped at 3GB total size -->
            <maxHistory>30</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>

        </rollingPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="asyncFileRolling" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="fileRolling"/>
    </appender>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
            <immediateFlush>true</immediateFlush>
        </encoder>
    </appender>

    <appender name="asyncConsole" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="console"/>
    </appender>

    <root level="INFO">
        <appender-ref ref="asyncConsole" />
        <appender-ref ref="asyncFileRolling" />
    </root>

</included>